.h-10 {
  max-height: 5em;
}
.h-20 {
  max-height: 10em;
}
.h-5 {
  max-height: 3em;
}
.aboutMe {
  background-image:url('https://img.freepik.com/free-photo/technology-network-background_34629-304.jpg?size=626&ext=jpg');
}
.aboutMeHeader {
  background-color: rgba(33, 33, 35, 1);
  color: white;
}
.aboutMeBody {
  background-color: rgba(33, 33, 35, 0.5);
  color: white;
}
i {
  font-size: 4em;
  padding: .4em;
}
.languages {
  background-color: rgba(5, 43, 78, 1);
}
.projects {
  background-color: rgba(5, 43, 78, 1);
}
.w-33 {
  width: 45%;
}
.vl {
  border-left: .25em solid grey;
  height: 20vh;
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
  .lang-box {
    flex-direction: column;
  }
}
